﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-3">
        <div class="card mt-2">
            <div class="card-body card-bodyMH">
                <h3>Users</h3>
                <p>
                    User operations. 
                </p>
                @Html.ActionLink("Proceed...", "Users", "Main", new { area = "" }, new { @class = "btn btn-outline-secondary mt-1 float-right" })
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card mt-2">
            <div class="card-body card-bodyMH">
                <h3>Wallets</h3>
                <p>
                    Wallets operations.
                </p>
                @Html.ActionLink("Proceed...", "Wallets", "Main", new { area = "" }, new { @class = "btn btn-outline-secondary mt-1 float-right" })
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card mt-2">
            <div class="card-body card-bodyMH">
                <h3>PayIns</h3>
                <p>
                    PayIn operations.
                </p>
                @Html.ActionLink("Proceed...", "PayIns", "Main", new { area = "" }, new { @class = "btn btn-outline-secondary mt-1 float-right" })
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card mt-2">
            <div class="card-body card-bodyMH">
                <h3>KYC documents</h3>
                <p>
                    KYC documents operations. 
                </p>
                @Html.ActionLink("Proceed...", "KYCDocuments", "Main", new { area = "" }, new { @class = "btn btn-outline-secondary mt-1 float-right" })
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card mt-2">
            <div class="card-body card-bodyMH">
                <h3>Transfers</h3>
                <p>
                    Transfers operations. 
                </p>
                @Html.ActionLink("Proceed...", "Transfers", "Main", new { area = "" }, new { @class = "btn btn-outline-secondary mt-1 float-right" })
            </div>
        </div>
    </div>
</div>