﻿@using MangoPay.SDK.Entities.GET;
@using MangoPayInegration.Controllers;
@using MangoPay.SDK.Core.Enumerations;


@{
    ViewBag.Title = "KYC documents upload";
}

<div class="card mt-2 form-control">
    <div class="card-body">
        <div class="row" id="divUploadCtrls">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="createDoc-tab" data-toggle="tab" href="#nav-create" role="tab" aria-controls="nav-create" aria-selected="true">Create KYC document</a>
                    <a class="nav-item nav-link" id="nav-view-tab" data-toggle="tab" href="#nav-view" role="tab" aria-controls="nav-view" aria-selected="false">View KYC documents</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab">
                    @Html.Partial("~/Views/Main/KYCDocuments/CreateKYCDocuments.cshtml")
                </div>
                <div class="tab-pane fade" id="nav-view" role="tabpanel" aria-labelledby="nav-view-tab">
                    @Html.Partial("~/Views/Main/KYCDocuments/ViewKYCDocuments.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>


