﻿@using MangoPay.SDK.Entities.GET;
@using MangoPayInegration.Controllers;
@using MangoPay.SDK.Core.Enumerations;

@{
    ViewBag.Title = "Create payIn";
}

@{
    List<UserDTO> users = ApiController.GetAllMangoPayUsers();

    <div class="row" id="divPayin">
        <div class="card mt-2 form-control">
            <div class="card-body">
                <h2>@ViewBag.Title</h2>

                <div class="form-group row" id="divWallet">
                    <label for="ddlUsrs" class="col-sm-3 col-form-label">User</label>
                    <div class="col-sm-3">
                        <select id="ddlUsrs" class="form-control" data-isRequired="true"
                                data-ctrlType="dropdown" data-objProperty="AuthorId" onchange="loadWalletsData(this, '@Url.Action("GetUserWallet", "Api")', 'tbxWalletId')">
                            <option value="-1">Select user</option>
                            @PageHelpers.GetUsersDto(users, PersonType.NotSpecified)
                        </select>
                    </div>
                    <label class="text-danger">*</label>
                    <div class="invalid-feedback col-sm-4">
                        Required field.
                    </div>
                </div>
                <div class="form-group row" id="divWallet">
                    <label for="ddlCreditCardType" class="col-sm-3 col-form-label">Credit card type</label>
                    <div class="col-sm-3">
                        <select id="ddlCreditCardType" class="form-control" data-isRequired="true"
                                data-ctrlType="dropdown" data-objProperty="CardType" disabled="disabled">
                            <option value="-1">Select credit card type</option>
                            @PageHelpers.GetCreditCardTypes()
                        </select>
                    </div>
                    <label class="text-danger">*</label>
                    <div class="invalid-feedback col-sm-4">
                        Required field.
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tbxWalletId" class="col-sm-3 col-form-label">Wallet ID</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="tbxWalletId" placeholder=""
                               data-isRequired="true" data-ctrlType="textbox" disabled="disabled"
                               data-objProperty="CreditedWalletId" value="Select user">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tbxAmount" class="col-sm-3 col-form-label">Amount</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="tbxAmount" placeholder=""
                               data-isRequired="true" data-ctrlType="textbox"
                               data-objProperty="Amount" onkeyup="validateIsDecimal(this)">
                    </div>
                    <label class="text-danger">*</label>
                    <div class="invalid-feedback col-sm-4">
                        Required field.
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tbxFees" class="col-sm-3 col-form-label">Fees (%)</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="tbxFees" placeholder=""
                               data-isRequired="true" data-ctrlType="textbox" onkeyup="validateIsPercentage(this)"
                               data-objProperty="Fees">
                    </div>
                    <label class="text-danger">*</label>
                    <div class="invalid-feedback col-sm-4">
                        Required field.
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ddlCurrency" class="col-sm-3 col-form-label">Currency</label>
                    <div class="col-sm-3">
                        <select id="ddlCurrency" class="form-control" data-isRequired="true"
                                data-ctrlType="dropdown" data-objProperty="Currency">
                            <option value="-1">Select currency</option>
                            @PageHelpers.GetCurrencies()
                        </select>
                    </div>
                    <label class="text-danger">*</label>
                    <div class="invalid-feedback col-sm-4">
                        Required field.
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        &nbsp;
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-default cutomCtrlWidth" onclick="submitPayin()">Submit payin</button>
                    </div>
                </div>
                <div class="alert alert-info" role="alert">
                    <li>You can use the test card 4970101122334414 with any expiry date in the future and a CVV of 123.</li>
                    <li>Maximum amount of money per transaction by credit card is 1990 GBP.</li>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#ddlCreditCardType").val("CB_VISA_MASTERCARD");
        
    })
    function submitPayin() {
        if (!validateIsNumber($("#tbxWalletId")[0])) {
            addClassValid($("#tbxWalletId"), false);
            return;
        }
        if (validateFormData('divPayin')) {
            createPayin();
        }
    }
    function createPayin() {
        var allFormCtrls = $("#divPayin").find('[data-objProperty]');

        var jsonData = {};

        allFormCtrls.each(function () {
            var propName = this.getAttribute("data-objProperty");
            jsonData[propName] = $(this).val();
        });

        perfomApiRequest('@Url.Action("CreatePayIn", "Api")', JSON.stringify(jsonData));
    }
</script>