﻿@using MangoPay.SDK.Entities.GET;
@using MangoPayInegration.Controllers;
@using MangoPay.SDK.Core.Enumerations;

@{
    ViewBag.Title = "Transfers";
}
@{ 
    List<UserDTO> users = ApiController.GetAllMangoPayUsers();

<div class="row">
    <div class="card mt-2 form-control">
        <div class="card-body">
            <h2>@ViewBag.Title</h2>

            <div class="form-group row">
                <label for="tbxFirstName" class="col-sm-3 col-form-label">User type</label>
                <div class="form-check form-check-inline ml-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" 
                               onchange="toggleUserTypeControls('divNatUserCtrl', 'divLegalUserCtrl', this); setTextboxText('tbxDebitedWalletId', 'Select Author ID')"
                               id="cbxNatUser" value="natural" checked="checked">Natural user
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" 
                               onchange="toggleUserTypeControls('divLegalUserCtrl', 'divNatUserCtrl', this); setTextboxText('tbxDebitedWalletId', 'Select Author ID')"
                               id="cbxLegalUsr" value="legal">Legal user
                    </label>
                </div>
            </div>

            <div class="form-group row" id="divNatUserCtrl">
                <label for="ddlNatUsrs" class="col-sm-3 col-form-label">Debited user ID</label>
                <div class="col-sm-3">
                    <select id="ddlNatUsrs" class="form-control" data-isRequired="true"
                            data-ctrlType="dropdown" onchange="loadWalletsData(this, '@Url.Action("GetUserWallet", "Api")', 'tbxDebitedWalletId')">
                        <option value="-1">Select natural user</option>
                        @PageHelpers.GetUsersDto(users, PersonType.NATURAL)
                    </select>
                </div>
                <label class="text-danger">*</label>
                <div class="invalid-feedback col-sm-4">
                    Required field.
                </div>
            </div>

            <div class="form-group row" id="divLegalUserCtrl" style="display:none">
                <label for="ddlLegalUsrs" class="col-sm-3 col-form-label">Author ID</label>
                <div class="col-sm-3">
                    <select id="ddlLegalUsrs" class="form-control" data-isRequired="true"
                            data-ctrlType="dropdown" onchange="loadWalletsData(this, '@Url.Action("GetUserWallet", "Api")', 'tbxDebitedWalletId')">
                        <option value="-1">Select legal user</option>
                        @PageHelpers.GetUsersDto(users, PersonType.LEGAL)
                    </select>
                </div>
                <label class="text-danger">*</label>
                <div class="invalid-feedback col-sm-4">
                    Required field.
                </div>
            </div>
            <div id="divTransferData">
                <div class="form-group row">
                    <label for="ddlUsrs" class="col-sm-3 col-form-label">Credited user ID</label>
                    <div class="col-sm-3">
                        <select id="ddlUsrs" class="form-control" data-isRequired="true"
                                data-ctrlType="dropdown" onchange="loadWalletsData(this, '@Url.Action("GetUserWallet", "Api")', 'tbxCreditedWalletId')"
                                data-objProperty="CreditedUserId">
                            <option value="-1">Select user</option>
                            @PageHelpers.GetUsersDto(users, PersonType.NotSpecified)
                        </select>
                    </div>
                    <label class="text-danger">*</label>
                    <div class="invalid-feedback col-sm-4">
                        Required field.
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ddlTransferCurrency" class="col-sm-3 col-form-label">Transfer currency</label>
                    <div class="col-sm-3">
                        <select id="ddlTransferCurrency" class="form-control" data-isRequired="true"
                                data-ctrlType="dropdown" data-objProperty="Currency">
                            <option value="-1">Select currency</option>
                            @PageHelpers.GetCurrencies()
                        </select>
                    </div>
                    <label class="text-danger">*</label>
                    <div class="invalid-feedback col-sm-4">
                        Required field.
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tbxTransferAmount" class="col-sm-3 col-form-label">Transfer amount</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="tbxTransferAmount" placeholder=""
                               data-isRequired="true" data-ctrlType="textbox" data-objProperty="Amount">
                    </div>
                    <label class="text-danger">*</label>
                    <div class="invalid-feedback col-sm-4">
                        Required field.
                    </div>
                </div>

                <div class="form-group row">
                    <label for="tbxFeesAmount" class="col-sm-3 col-form-label">Fees (%)</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="tbxFeesAmount" placeholder=""
                               data-isRequired="true" data-ctrlType="textbox" data-objProperty="Fees">
                    </div>
                    <label class="text-danger">*</label>
                    <div class="invalid-feedback col-sm-4">
                        Required field.
                    </div>
                </div>

                <div class="form-group row">
                    <label for="tbxDebitedWalletId" class="col-sm-3 col-form-label">Debited wallet ID</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="tbxDebitedWalletId" placeholder=""
                               data-isRequired="true" data-ctrlType="textbox"
                               disabled="disabled" value="Select Author ID"
                               data-objProperty="DebitedWalletId">
                    </div>
                    <label class="text-danger">*</label>
                    <div class="invalid-feedback col-sm-4">
                        Required field.
                    </div>
                </div>

                <div class="form-group row">
                    <label for="tbxCreditedWalletId" class="col-sm-3 col-form-label">Credited wallet ID</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="tbxCreditedWalletId" placeholder=""
                               data-isRequired="true" data-ctrlType="textbox" disabled="disabled" 
                                data-objProperty="CreditedWalletId"
                               value="Select credited user ID">
                    </div>
                    <label class="text-danger">*</label>
                    <div class="invalid-feedback col-sm-4">
                        Required field.
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        &nbsp;
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-default cutomCtrlWidth" onclick="submitTransfer()">Submit transfer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
    <script>
        function submitTransfer() {
            var errors = 0;
            if (!validateIsNumber($("#tbxCreditedWalletId")[0])) {
                addClassValid($("#tbxCreditedWalletId"), false);
                errors++;
            }
            if (!validateIsNumber($("#tbxDebitedWalletId")[0])) {
                addClassValid($("#tbxDebitedWalletId"), false);
                errors++;
            }

            if (errors == 0) {
                if (validateFormDataWithUserTypeSelection('divTransferData')) {
                    createTransfer();
                }
            }
        }
        function createTransfer() {
            var allFormCtrls = $("#divTransferData").find('[data-objProperty]');

            var jsonData = {};

            allFormCtrls.each(function () {
                var propName = this.getAttribute("data-objProperty");
                jsonData[propName] = $(this).val();
            });
            var authorId = 0;
            if ($("#cbxNatUser").prop("checked")) {
                authorId = $("#ddlNatUsrs").val();
            }
            if ($("#cbxLegalUsr").prop("checked")) {
                authorId = $("#ddlLegalUsrs").val();
            }

            jsonData["AuthorId"] = authorId;

            perfomApiRequest('@Url.Action("CreateTransfer", "Api")', JSON.stringify(jsonData));
        }
    </script>
