﻿@{
    ViewBag.Title = "Create user";
}

<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.1/combined/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.1/combined/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {
        //$('#tbxBirthday').datepicker({
        //    uiLibrary: 'bootstrap4',
        //    format: 'mm/dd/yyyy'
        //});

        //$('#tbxLegalBirthday').datepicker({
        //    uiLibrary: 'bootstrap4',
        //    format: 'mm/dd/yyyy'
        //});
        $('#tbxBirthday').mask('00/00/0000');
        $('#tbxLegalBirthday').mask('00/00/0000');
    })
</script>

<div class="row">
    <div class="card mt-2 form-control">
        <div class="card-body">
            <h2>@ViewBag.Title</h2>

            <div class="form-group row">
                <label for="tbxFirstName" class="col-sm-3 col-form-label">User type</label>
                <div class="form-check form-check-inline ml-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" onchange="toggleUserTypeControls('divNatUserCtrl', 'divLegalUserCtrl', this)" id="inlineRadio1" 
                               value="natural" checked="checked"> Natural user
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" onchange="toggleUserTypeControls('divLegalUserCtrl', 'divNatUserCtrl', this)" id="inlineRadio2"
                               value="legal"> Legal user
                    </label>
                </div>
            </div>
            <div class="form-group " id="divNatUserCtrl">
                @Html.Partial("~/Views/Main/UserContols/NaturalUserControl.cshtml")
            </div>
            <div class="form-group " id="divLegalUserCtrl" style="display:none">
                @Html.Partial("~/Views/Main/UserContols/LegalUserControl.cshtml")
            </div>
        </div>
    </div>
</div>