﻿@using MangoPay.SDK.Core.Enumerations;
@using MangoPay.SDK.Entities.GET;
@using MangoPayInegration.Controllers;

@{
    ViewBag.Title = "Create wallets";
}

@{
    List<UserDTO> users = ApiController.GetAllMangoPayUsers();

    <div class="row" id="divWalletsCreate">
        <div class="card mt-2 form-control">
            <div class="card-body">
                <h2>@ViewBag.Title</h2>

                <div class="form-group row">
                    <label for="tbxFirstName" class="col-sm-3 col-form-label">User type</label>

                    <div class="form-check form-check-inline ml-3">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                   onchange="toggleUserTypeControls('divNatUserWalletCtrl', 'divLegalUserWalletCtrl', this)"
                                   id="cbxNatUser" value="natural" checked="checked"> Natural user
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                   onchange="toggleUserTypeControls('divLegalUserWalletCtrl', 'divNatUserWalletCtrl', this)"
                                   id="cbxLegalUsr" value="legal"> Legal user
                        </label>
                    </div>
                </div>
                <div class="form-group row" id="divNatUserWalletCtrl">
                    <label for="ddlNatUsrs" class="col-sm-3 col-form-label">Owner</label>
                    <div class="col-sm-3">
                        <select id="ddlNatUsrs" class="form-control" data-isRequired="true"
                                data-ctrlType="dropdown">
                            <option value="-1">Select natural user</option>
                            @PageHelpers.GetUsersDto(users, PersonType.NATURAL)
                        </select>
                    </div>
                    <label class="text-danger">*</label>
                    <div class="invalid-feedback col-sm-4">
                        Required field.
                    </div>
                </div>
                <div class="form-group row" id="divLegalUserWalletCtrl" style="display:none">
                    <label for="ddlLegalUsrs" class="col-sm-3 col-form-label">Owner</label>
                    <div class="col-sm-3">
                        <select id="ddlLegalUsrs" class="form-control" data-isRequired="true"
                                data-ctrlType="dropdown">
                            <option value="-1">Select legal user</option>
                            @PageHelpers.GetUsersDto(users, PersonType.LEGAL)
                        </select>
                    </div>
                    <label class="text-danger">*</label>
                    <div class="invalid-feedback col-sm-4">
                        Required field.
                    </div>
                </div>

                <div id="divWalletData">
                    <div class="form-group row">
                        <label for="tbxDescription" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="tbxDescription" placeholder=""
                                   data-isRequired="true" data-ctrlType="textbox" data-objProperty="Description">
                        </div>
                        <label class="text-danger">*</label>
                        <div class="invalid-feedback col-sm-4">
                            Required field.
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ddlCurrency" class="col-sm-3 col-form-label">Currency</label>
                        <div class="col-sm-3">
                            <select id="ddlCurrency" class="form-control" data-isRequired="true"
                                    data-ctrlType="dropdown" data-objProperty="Currency">
                                <option value="-1">Select currency</option>
                                @PageHelpers.GetCurrencies()
                            </select>
                        </div>
                        <label class="text-danger">*</label>
                        <div class="invalid-feedback col-sm-4">
                            Required field.
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tbxTags" class="col-sm-3 col-form-label">Tags</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="tbxTags" placeholder=""
                                   data-isRequired="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            &nbsp;
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-default cutomCtrlWidth" onclick="submitWallet()">Create wallet</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function submitWallet() {
        if (validateFormDataWithUserTypeSelection('divWalletData')) {
            createWallet();
        }
    }
    function createWallet() {
        var allFormCtrls = $("#divWalletsCreate").find('[data-objProperty]');

        var jsonData = {};

        jsonData["Owners"] = getClientId();

        allFormCtrls.each(function () {
            var propName = this.getAttribute("data-objProperty");
            jsonData[propName] = $(this).val();
        });

        perfomApiRequest('@Url.Action("CreateWallet", "Api")', JSON.stringify(jsonData));
    }
    function getClientId() {
        if ($("#cbxNatUser").prop("checked")) {
            return $("#ddlNatUsrs").val();
        }
        if ($("#cbxLegalUsr").prop("checked")) {
            return $("#ddlLegalUsrs").val();
        }
    }
</script>