﻿
<div id="@ViewData["ctrlId"]">
    <div class="form-group row">
        <label for="tbxLine1" class="col-sm-3 col-form-label">Address line1</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="tbxLine1" placeholder=""
                   data-isRequired="true" data-ctrlType="textbox" data-isAddressCtrl="true"
                   data-objProperty="AddressLine1">
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>
    <div class="form-group row">
        <label for="tbxLine2" class="col-sm-3 col-form-label">Address line2</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="tbxLine2" placeholder=""
                   data-objProperty="AddressLine2" data-isAddressCtrl="true">
        </div>
    </div>
    <div class="form-group row">
        <label for="tbxCity" class="col-sm-3 col-form-label">City</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="tbxCity" placeholder=""
                   data-isRequired="true" data-ctrlType="textbox" data-isAddressCtrl="true"
                   data-objProperty="City">
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>
    <div class="form-group row">
        <label for="tbxRegion" class="col-sm-3 col-form-label">Region</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="tbxRegion" placeholder=""
                   data-isRequired="true" data-ctrlType="textbox" data-isAddressCtrl="true"
                   data-objProperty="Region">
        </div>
    </div>
    <div class="form-group row">
        <label for="tbxPostalCode" class="col-sm-3 col-form-label">Postal code</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="tbxPostalCode" placeholder=""
                   data-isRequired="true" data-ctrlType="textbox" data-isAddressCtrl="true"
                   data-objProperty="PostalCode">
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>
    <div class="form-group row">
        <label for="ddlCountryAddr" class="col-sm-3 col-form-label">Country</label>
        <div class="col-sm-3">
            <select id="ddlCountryAddr" class="form-control" data-isRequired="true"
                    data-ctrlType="dropdown" data-isAddressCtrl="true" data-objProperty="Country">
                @PageHelpers.CountryIsoHelper()
            </select>
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>
</div>