﻿@using MangoPay.SDK.Core.Enumerations;

<div id="divLegUserControl">
    <!--Headquarters address-->
    <div class="form-group row">
        <label for="tbxLegalAddress" class="col-sm-3 col-form-label">Company’s headquarters address</label>
        <div class="col-sm-3">
            <button class="btn btn-default cutomCtrlWidth" button type="button" data-toggle="collapse" collapse" href="#collapseDiv"
                    role="button" aria-expanded="false" id="btnExpandHQAddr" aria-controls="collapseDiv" onclick="toggleBtnText(this)">
                Expand
            </button>
        </div>
        <label class="text-danger">*</label>
    </div>
    <div id="collapseDiv" class="collapse">
        @Html.Partial("~/Views/Main/UserContols/AddressControl.cshtml",
                         new ViewDataDictionary { { "ctrlId", "headquartersAddressCtrl" } })
    </div>
    <!--Headquarters address-->
    <div class="form-group row">
        <label for="ddlLegalPersonType" class="col-sm-3 col-form-label" required>Legal person type</label>
        <div class="col-sm-3">
            <select id="ddlLegalPersonType" class="form-control" data-isRequired="true"
                    data-ctrlType="dropdown" data-objProperty="LegalPersonType">
                <option value="-1">Select Legal person type</option>
                <option value="BUSINESS">BUSINESS</option>
                <option value="ORGANIZATION">ORGANIZATION</option>
                <option value="SOLETRADER">SOLETRADER</option>
            </select>
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>
    <div class="form-group row">
        <label for="tbxLegalName" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="tbxLegalName" placeholder="" data-isRequired="true"
                   data-ctrlType="textbox" data-objProperty="Name">
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>

    <!--LR address-->
    <div class="form-group row">
        <label for="tbxLegalAddress" class="col-sm-3 col-form-label">Legal representative address</label>
        <div class="col-sm-3">
            <button class="btn btn-default cutomCtrlWidth" button type="button" data-toggle="collapse" 
                    id="btnExpandLRAddr" href="#collapseDivLpAddress"
                    role="button" aria-expanded="false" aria-controls="collapseDivLpAddress" onclick="toggleBtnText(this)">
                Expand
            </button>
        </div>
        <label class="text-danger">*</label>
    </div>
    <div id="collapseDivLpAddress" class="collapse">
        @Html.Partial("~/Views/Main/UserContols/AddressControl.cshtml",
                     new ViewDataDictionary { { "ctrlId", "legalReprAddressCtrl" } })
    </div>
    <!--LR address-->

    <div class="form-group row">
        <label for="tbxLegalBirthday" class="col-sm-3 col-form-label">Legal representative date of Birth</label>
        <div class="col-sm-3">
            <input id="tbxLegalBirthday" placeholder="DD/MM/YYYY" class="form-control" data-isRequired="true"
                   data-ctrlType="datetime" data-objProperty="LegalRepresentativeBirthday" />
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>
    <div class="form-group row">
        <label for="ddlLegalCountryOfResidence" class="col-sm-3 col-form-label">Legal representative country</label>
        <div class="col-sm-3">
            <select id="ddlLegalCountryOfResidence" class="form-control" data-isRequired="true"
                    data-ctrlType="dropdown" data-objProperty="LegalRepresentativeCountryOfResidence">
                @PageHelpers.CountryIsoHelper()
            </select>
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>
    <div class="form-group row">
        <label for="ddlLegalNationality" class="col-sm-3 col-form-label">Legal representative nationality</label>
        <div class="col-sm-3">
            <select id="ddlLegalNationality" class="form-control" data-isRequired="true"
                    data-ctrlType="dropdown" data-objProperty="LegalRepresentativeNationality">
                @PageHelpers.CountryIsoHelper()
            </select>
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>
    <div class="form-group row">
        <label for="tbxLegalEmail" class="col-sm-3 col-form-label">Legal representative E-mail</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="tbxLegalEmail" placeholder=""
                   data-objProperty="LegalRepresentativeEmail">
        </div>
    </div>
    <div class="form-group row">
        <label for="tbxLegalFirstName" class="col-sm-3 col-form-label">Legal representative first name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="tbxLegalFirstName"
                   data-objProperty="LegalRepresentativeFirstName" placeholder="" data-isRequired="true"
                   data-ctrlType="textbox">
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>
    <div class="form-group row">
        <label for="tbxLegalLastName" class="col-sm-3 col-form-label">Legal representative last name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="tbxLegalLastName"
                   data-objProperty="LegalRepresentativeLastName" placeholder="" data-isRequired="true"
                   data-ctrlType="textbox">
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>
    <div class="form-group row">
        <label for="tbxLegalPersonEmail" class="col-sm-3 col-form-label">E-mail</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="tbxLegalPersonEmail"
                   data-objProperty="Email"
                   placeholder="" data-isRequired="true"
                   data-ctrlType="email">
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>
    <div class="form-group row">
        <label for="tbxCompanyNumber" class="col-sm-3 col-form-label">CompanyNumber</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="tbxCompanyNumber" data-objProperty="CompanyNumber" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label for="tbxLegalUsrTags" class="col-sm-3 col-form-label">Tags</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="tbxLegalUsrTags" data-objProperty="Tags" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            &nbsp;
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-default cutomCtrlWidth" onclick="submitLeglUser()">Create legal user</button>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $("#btnExpandHQAddr").click();
        $("#btnExpandLRAddr").click();
    })
    function submitLeglUser() {
        if (validateAddress('headquartersAddressCtrl')&&
            validateAddress('legalReprAddressCtrl') &&
            validateFormData('divLegUserControl', true)) {

            createLegalUser();
        }
    }
    function createLegalUser() {
        var allFormCtrls = $("#divLegUserControl").find('[data-objProperty]');

        var hqAddr = $("#headquartersAddressCtrl").find('[data-objProperty]');
        var legRepAddr = $("#legalReprAddressCtrl").find('[data-objProperty]');

        var jsonData = {};
        var jsonLegalRepAddr = {};
        var jsonHeadquartAddr = {};
        jsonData["LegalRepresentativeAddress"] = jsonLegalRepAddr;
        jsonData["HeadquartersAddress"] = jsonHeadquartAddr;

        allFormCtrls.each(function () {
            var isAddr = this.getAttribute('data-isAddressCtrl');
            var propName = this.getAttribute("data-objProperty");

            if (!isAddr) {
                jsonData[propName] = $(this).val();
            }
        });

        fillJsonObject(hqAddr, jsonHeadquartAddr);
        fillJsonObject(legRepAddr, jsonLegalRepAddr);

        perfomApiRequest('@Url.Action("CreateLegalUser", "Api")', JSON.stringify(jsonData));
    }
    function fillJsonObject(controlsList, jsonObj) {
        controlsList.each(function () {
            jsonObj[this.getAttribute("data-objProperty")] = $(this).val();
        });
    }
</script>