﻿@using MangoPay.SDK.Core.Enumerations;


<div id="divNatUserControl">
    <div class="form-group row">
        <label for="tbxFirstName" class="col-sm-3 col-form-label">First name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="tbxFirstName" name="firstname" placeholder=""
                   data-isRequired="true" data-ctrlType="textbox" data-objProperty="FirstName">
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>
    <div class="form-group row">
        <label for="tbxLastName" class="col-sm-3 col-form-label">Last name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="tbxLastName" placeholder=""
                   data-isRequired="true" data-ctrlType="textbox" data-objProperty="LastName">
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>

    <div class="form-group row">
        <label for="tbxUsrAddress" class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-3">
            <button class="btn btn-default cutomCtrlWidth" button type="button" data-toggle="collapse" href="#collapseUsrAddress"
                    role="button" aria-expanded="false" aria-controls="collapseUsrAddress" id="btnExpandAddr" onclick="toggleBtnText(this)">
                Expand
            </button>
        </div>
        <label class="text-danger">*</label>
    </div>
    <div id="collapseUsrAddress" class="collapse">
        @Html.Partial("~/Views/Main/UserContols/AddressControl.cshtml", new ViewDataDictionary { { "ctrlId", "naturalUserAddressCtrl" } })
    </div>

    <div class="form-group row">
        <label for="tbxBirthday" class="col-sm-3 col-form-label">Date of Birth</label>
        <div class="col-sm-3">
            <input id="tbxBirthday" placeholder="DD/MM/YYYY" class="form-control" data-isRequired="true"
                   data-ctrlType="datetime" data-objProperty="Birthday" >
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4 dateInvalidMessage">
            Required field.
        </div>
    </div>
    <div class="form-group row">
        <label for="ddlNationality" class="col-sm-3 col-form-label">Nationality</label>
        <div class="col-sm-3">
            <select id="ddlNationality" class="form-control" data-isRequired="true"
                    data-ctrlType="dropdown" data-objProperty="Nationality">
                @PageHelpers.CountryIsoHelper()
            </select>
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>
    <div class="form-group row">
        <label for="ddlCountryOfResidence" class="col-sm-3 col-form-label">Country of residence</label>
        <div class="col-sm-3">
            <select id="ddlCountryOfResidence" class="form-control" data-isRequired="true"
                    data-ctrlType="dropdown" data-objProperty="CountryOfResidence">
                @PageHelpers.CountryIsoHelper()
            </select>
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>
    <div class="form-group row">
        <label for="tbxOccupation" class="col-sm-3 col-form-label">Occupation</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="tbxOccupation" placeholder="" data-objProperty="Occupation">
        </div>
    </div>
    <div class="form-group row">
        <label for="ddlIncomeRange" class="col-sm-3 col-form-label">Income range</label>
        <div class="col-sm-3">
            <select id="ddlIncomeRange" class="form-control"
                    data-ctrlType="dropdown" data-objProperty="IncomeRange">
                <option value="-1">Select income range</option>
                <option value="1">< 18K€</option>
                <option value="2">18K€ > 30K€</option>
                <option value="3">30K€ > 50K€</option>
                <option value="4">50K€ > 80K€</option>
                <option value="5">80K€ > 120K€</option>
                <option value="6">> 120K€</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="tbxEmail" class="col-sm-3 col-form-label">E-mail</label>
        <div class="col-sm-3">
            <input type="email" class="form-control" id="tbxEmail" placeholder=""
                   data-isRequired="true" data-ctrlType="email" data-objProperty="Email">
        </div>
        <label class="text-danger">*</label>
        <div class="invalid-feedback col-sm-4">
            Required field.
        </div>
    </div>
    <div class="form-group row">
        <label for="ddlCapacity" class="col-sm-3 col-form-label">Capacity</label>
        <div class="col-sm-3">
            <select id="ddlCapacity" class="form-control"
                    data-ctrlType="dropdown" data-objProperty="Capacity">
                <option value="-1">Select capacity</option>
                @foreach (var item in Enum.GetNames(typeof(CapacityType)))
                {
                    <option value="@((int)Enum.Parse(typeof(CapacityType), item))">@item</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="tbxTags" class="col-sm-3 col-form-label">Tags</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="tbxTags" placeholder="" data-objProperty="Tags">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            &nbsp;
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-default cutomCtrlWidth" onclick="submitNatUser()">Create natural user</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnExpandAddr").click();
    })
    function submitNatUser() {
        if (validateFormData('divNatUserControl', true) && validateAddress('naturalUserAddressCtrl')) {
            createNatUser();
        }
    }
    function createNatUser() {
        var allFormCtrls = $("#divNatUserControl").find('[data-objProperty]');

        var jsonData = {};
        var jsonAddr = {};
        jsonData["Address"] = jsonAddr;

        allFormCtrls.each(function () {
            var isAddr = this.getAttribute('data-isAddressCtrl');
            var propName = this.getAttribute('data-objProperty');
            var isDate = this.getAttribute('data-ctrlType') == "datetime";

            if (!isAddr) {
                jsonData[propName] = $(this).val();
            }
            else {
                jsonAddr[propName] = $(this).val();
            }
        });

        perfomApiRequest('@Url.Action("CreateNaturalUser", "Api")', JSON.stringify(jsonData), "Legal user successfully created.");
    }

</script>