﻿@using MangoPay.SDK.Entities.GET;
@using MangoPayInegration.Controllers;
@using MangoPay.SDK.Core.Enumerations;


@{
    ViewBag.Title = "KYC documents upload";
}
@{
    List<UserDTO> users = ApiController.GetAllMangoPayUsers();


    <div class="card mt-2 form-control row"  style="width:67rem">
            <div class="card-body">
                <h2>@ViewBag.Title</h2>

                <div class="form-group row">
                    <label for="tbxUserType" class="col-sm-3 col-form-label">User type</label>
                    <div class="form-check form-check-inline ml-3">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                   onchange="toggleUserTypeControls('divNatUserCtrl', 'divLegalUserCtrl', this); toggleUploadControls('natural')"
                                   id="cbxNatUser"
                                   value="natural" checked="checked"> Natural user
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                   onchange="toggleUserTypeControls('divLegalUserCtrl', 'divNatUserCtrl', this); toggleUploadControls('legal')"
                                   id="cbxLegalUsr"
                                   value="legal"> Legal user
                        </label>
                    </div>
                </div>
                <div class="form-group row" id="divNatUserCtrl">
                    <label for="ddlNatUsrs" class="col-sm-3 col-form-label">Natural user</label>
                    <div class="col-sm-3">
                        <select id="ddlNatUsrs" class="form-control" data-isRequired="true"
                                data-ctrlType="dropdown">
                            <option value="-1">Select natural user</option>
                            @PageHelpers.GetUsersDto(users, PersonType.NATURAL)
                        </select>
                    </div>
                    <label class="text-danger">*</label>
                    <div class="invalid-feedback col-sm-4">
                        Required field.
                    </div>
                </div>
                <div class="form-group row" id="divLegalUserCtrl" style="display:none">
                    <label for="ddlLegalUsrs" class="col-sm-3 col-form-label">Legal user</label>
                    <div class="col-sm-3">
                        <select id="ddlLegalUsrs" class="form-control" data-isRequired="true"
                                data-ctrlType="dropdown" onchange="displayLegalUserKYCDocs()">
                            <option value="-1">Select legal user</option>
                            @PageHelpers.GetUsersDto(users, PersonType.LEGAL)
                        </select>
                    </div>
                    <label class="text-danger">*</label>
                    <div class="invalid-feedback col-sm-4">
                        Required field.
                    </div>
                </div>
                <div id="divNaturalCustomerUploadCtrls" data-uploadcontrol="true">
                    @Html.Partial("~/Views/Main/UploadControls/NaturalCustomerUploadCard.cshtml")
                </div>
                <div id="divLegalCustomerUploadCtrls" data-uploadcontrol="true" style="display:none">
                    @Html.Partial("~/Views/Main/UploadControls/LegalCustomerUploadCard.cshtml")
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <button type="button" id="btnClear" class="btn btn-default cutomCtrlWidth" onclick="clearData(true)">Clear data</button>
                    </div>
                    <div class="col-sm-3">

                        <button type="button" id="btnSubmit" class="btn btn-default cutomCtrlWidth" onclick="submitDocuments()">Submit documents</button>
                    </div>
                </div>
            </div>
        </div>
}
<script>
    var legalPersonType;
    function submitDocuments() {
        if (validateUploadInput()) {

            var jsonData = {};
            jsonData["UserType"] = getUserType();
            jsonData["UserId"] = getUserId();
            jsonData["LegalPersonType"] = legalPersonType;

            $.ajax({
                url: '@Url.Action("SubmitDocuments","Api")',
                type: "POST",
                data: { jsonData: JSON.stringify(jsonData) },
                beforeSend: beforeSubmit(),
                success: function (data) {
                    if (data.Result == "Ok") {
                        disableControls(false);
                        clearData(false);
                        showAlert(data.Description, true);
                    }
                    else {
                        showAlert(data.Description, false);
                        enableOperationButtons();
                    }
                }
            });
        }
    }
    function enableOperationButtons() {
        $("#btnClear").prop("disabled", "");
        $("#btnSubmit").prop("disabled", "");
    }
    function beforeSubmit() {
        showAlert("Processing items, please wait...", true);
        disableControls(true);
        $("#btnClear").prop("disabled", "disabled");
        $("#btnSubmit").prop("disabled", "disabled");
    }
    function clearData(showAllert) {
        var ctrls = $('#divUploadCtrls').find('[data-addedfile="true"]');

        for (var i = 0; i < ctrls.length; i++) {
            $(ctrls[i]).remove();
        }
         $.ajax({
            url: '@Url.Action("ClearFilesUploadData", "Api")',
            type: "POST",
            data: '',
             success: function (data) {
                 if (showAllert == true) {
                     if (data.Result == "Ok") {
                         showAlert(data.Description, true);
                     }
                     else {
                         showAlert(data.Description, false);
                     }
                 }
             }
        });

        disableControls(false);
    }
    function getUserId() {
        if ($("#cbxNatUser").prop("checked")) {
            return $("#ddlNatUsrs").val();
        }
        else if ($("#cbxLegalUsr").prop("checked")) {
            return  $("#ddlLegalUsrs").val();
        }
    }
    function getUserType() {
        if ($("#cbxNatUser").prop("checked")) {
            return '@PersonType.NATURAL.ToString()';
        }
        else if ($("#cbxLegalUsr").prop("checked")) {
            return '@PersonType.LEGAL.ToString()';
        }
    }
    function displayLegalUserKYCDocs() {
        $.ajax({
            url: '@Url.Action("GetUserLegalPersonType", "Api")',
            type: "POST",
            data: { userId: $("#ddlLegalUsrs").val() },
            success: function (data) {
                legalPersonType = data.PersonType;
                displayRequiredDocuments(data.PersonType);
            }
        });
    }
    function validateUploadInput() {
        var errors = 0;
        if ($("#cbxNatUser").prop("checked")) {
            if (!validateDropDown("#ddlNatUsrs")) {
                errors++;
            }
        }
        else if ($("#cbxLegalUsr").prop("checked")) {
            if (!validateDropDown("#ddlLegalUsrs")) {
                errors++;
            }
        }
        return errors == 0;
    }
    function displayRequiredDocuments(personType) {
        var legCtrls = $('#divUploadCtrls').find('[data-upldCtrlType="isLegal"]');

        legCtrls.each(function () {
            $(this).show();
        });

        /* Organization
         *
         * "IDENTITY_PROOF"
         * "ARTICLES_OF_ASSOCIATION"
         * "REGISTRATION_PROOF"
         */
        if (personType == '@LegalPersonType.ORGANIZATION.ToString()') {
            $("#divLegalShareholderDeclr").hide();
        }

        /* Soletrader
         *
         * "IDENTITY_PROOF"
         * "REGISTRATION_PROOF"
         */
        if (personType == '@LegalPersonType.SOLETRADER.ToString()') {
            $("#divLegalShareholderDeclr").hide();
            $("#divLegalArticlesOfAssn").hide();
        }
    }
    function toggleUploadControls(type) {

        if (type == 'natural') {
            $("#divLegalCustomerUploadCtrls").hide();
            $("#divNaturalCustomerUploadCtrls").show();
            return;
        }

        $("#divLegalCustomerUploadCtrls").show();
        $("#divNaturalCustomerUploadCtrls").hide();
    }

    function disableControls(disable) {
        if (disable) {
            $("#cbxNatUser").prop("disabled", "disabled");
            $("#cbxLegalUsr").prop("disabled", "disabled");
            $("#ddlLegalUsrs").prop("disabled", "disabled");
            $("#ddlNatUsrs").prop("disabled", "disabled");
        }
        else {
            $("#cbxNatUser").prop("disabled", "");
            $("#cbxLegalUsr").prop("disabled", "");
            $("#ddlLegalUsrs").prop("disabled", "");
            $("#ddlNatUsrs").prop("disabled", "");
            $("#btnClear").prop("disabled", "");
            $("#btnSubmit").prop("disabled", "");
        }

    }
    function uploadFile(fileUploadId, uploadedFilesId, docType) {

        if (!validateUploadInput()) {
            $("#" + fileUploadId).val('');
            return;
        }
            

        var formData = new FormData();
        var filebase = $("#" + fileUploadId).get(0);
        var files = filebase.files;

        if (files[0].size > 7340032) {
            //7340032 - 7Mb in bytes
            showAlert("Please select file less than 7 Mb", false);
            return;
        }
        if (!validateFileExtenstion(files[0].name)) {
            showAlert("Please select file different type: jpg, jpeg, bmp, png, pdf", false);
            return;
        }

        formData.append(files[0].name, files[0]);
        $.ajax({
            url: '@Url.Action("UploadFile","Api")' + "?docType=" + docType + "&userId=" + getUserId(),
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                disableControls(true);
                $("#" + uploadedFilesId).append(
                    "<div class=\"input-group col-sm-12\" id=\"" + data.Guid + "\" data-addedfile=\"true\">"  +
                    "<div class=\"col-sm-10\">" +
                        "<div class=\"input-group col-sm-12\">" + data.FileName + "</div>" +
	                 "</div>" +
	                "<div class=\"col-sm-1\">" +
                    "<div class=\"form-group-row \">" +
                    "<button type=\"button\" style=\"margin-bottom:3px\" class=\"close\" aria-label=\"Close\" onclick=\"deleteFile(" + "'" + data.Guid + "'" + ")\">" +
                    "<span aria-hidden=\"true\" >&times;</span>" +
                    "</button>" +
                    "</div>" +
                    "</div>"
                );

                showAlert("File: \"" + data.FileName + "\" uploaded", true);
                $("#" + fileUploadId).val('');
            },
            error: function (err) {
                showAlert(err, false);
                $("#" + fileUploadId).val('');
            }
        });
    }
    function deleteFile(guid) {
        $("#" + guid).remove();

        perfomApiRequest('@Url.Action("DeleteFile","Api")', guid);
    }
</script>

