﻿@using MangoPay.SDK.Entities.GET;
@using MangoPayInegration.Controllers;
@using MangoPay.SDK.Core.Enumerations;
@{
    ViewBag.Title = "View KYC documents";
}
@{
    List<UserDTO> users = ApiController.GetAllMangoPayUsers();


    <div class="card mt-2 form-control row ml-1" style="width:67rem">
        <div class="card-body">
            <h2>@ViewBag.Title</h2>
            <div class="form-group row" id="divUserCtrl">
                <label for="ddlUsrs" class="col-sm-3 col-form-label">Users</label>
                <div class="col-sm-3">
                    <select id="ddlUsrs" class="form-control" data-isRequired="true"
                            data-ctrlType="dropdown" onchange="refreshDocuments()">
                        <option value="-1">Select user</option>
                        @PageHelpers.GetUsersDto(users, PersonType.NotSpecified)
                    </select>
                </div>
                <label class="text-danger">*</label>
                <div class="invalid-feedback col-sm-4">
                    Required field.
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Document type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created at</th>
                    </tr>
                </thead>
                <tbody id="tblBodyItems">
                    <tr>
                        <td colspan="3">Select user</td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group row">
                <div class="col-sm-3">

                    <button type="button" id="btnSubmit" class="btn btn-default cutomCtrlWidth" onclick="refreshDocuments()">Refresh documents</button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function refreshDocuments() {
        if (!validateDropDown("#ddlUsrs")) {
            return;
        }

        $.ajax({
                url: '@Url.Action("GetUserDocuments","Api")',
            type: "POST",
                data: { userId: $("#ddlUsrs").val() },
                success: function (data) {
                    if (data.Result == "Ok") {
                        setTableData(data.Items);
                        showAlert("Documents loaded.", true);
                    }
                    else {
                        showAlert(data.Description, false);
                    }
                }
            });
    }
    function setTableData(items) {
        var children = $("#tblBodyItems").children();
        for (var i = 0; i < children.length; i++) {
            $(children[i]).remove();
        }

        $("#tblBodyItems").append(items);
    }
</script>

