﻿@using MangoPayInegration;
@using MangoPay.SDK.Core.Enumerations;
@using MangoPay.SDK.Entities.GET;


@helper  GetCurrencies()
{
    List<string> supportedCurrencies = AppSettingsHelper.GetSupportedCurrencies();
    foreach (var item in Enum.GetNames(typeof(CurrencyIso)).Where(x => supportedCurrencies.Contains(x)))
    {
        <option value="@Enum.Parse(typeof(CurrencyIso), item).ToString()">@item</option>
    }
}
@helper  GetCreditCardTypes()
{
    foreach (var item in Enum.GetNames(typeof(CardType)))
    {
        <option value="@Enum.Parse(typeof(CardType), item).ToString()">@item</option>
    }
}
@helper  GetUsersDto(List<UserDTO> users, PersonType usrType)
{
    IEnumerable<UserDTO> filteredList = usrType == PersonType.NotSpecified ? users :
    users.Where(x => x.PersonType == usrType);

    foreach (UserDTO usr in filteredList)
    {
        <option value="@usr.Id">@string.Format("{0} (ID:{1})", usr.Email, usr.Id)</option>
    }
}
@helper  CountryIsoHelper()
{
    foreach (var item in Enum.GetNames(typeof(CountryIso)))
    {
        <option value="@(item.ToLower().Equals("notspecified") ? "-1" : item)">@item</option>
    }
}
