﻿@{

    string fileUploadId = string.Format("{0}_fileUpload", ViewData["ctrlId"]);
    string uploadedFilesId = string.Format("{0}_uploadedFiles", fileUploadId);
    string docType = ViewData["DocType"].ToString();


    <div class="col-sm-6" id="@ViewData["ctrlId"]" data-upldCtrlType="@ViewData["ctrlType"].ToString()">
        <div class="card">
            <div class="card-header">
                @ViewData["HeaderText"]
            </div>
            <div class="card-body">
                <div class="form-group row" id="@uploadedFilesId">
                    <div class="input-group col-sm-12">
                        Uploaded items:
                    </div>
                </div>
                <div class="form-group row">
                    <div class="input-group col-sm-12">
                        <div class="custom-file">
                            <input type="file" id="photo" name="photo" /><br />
                            <input type="file" class="custom-file-input" id="@fileUploadId" name="@fileUploadId" onchange="uploadFile('@fileUploadId', '@uploadedFilesId', '@docType')">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


