﻿@using MangoPay.SDK.Core.Enumerations

<div class="form-group row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Legal customer upload documents.
            </div>
            <div class="card-body row">
                @Html.Partial("~/Views/Main/UploadControls/FileUploadControl.cshtml", new ViewDataDictionary {
                           { "HeaderText", "Identity proof (Two sides)" } ,{ "ctrlId", "divLegalIdentityProf" },
                           { "DocType", KycDocumentType.IDENTITY_PROOF}, { "ctrlType", "isLegal" } })

                @Html.Partial("~/Views/Main/UploadControls/FileUploadControl.cshtml", new ViewDataDictionary {
                           { "HeaderText", "Articles of association" }, { "ctrlId", "divLegalArticlesOfAssn" },
                           { "DocType", KycDocumentType.ARTICLES_OF_ASSOCIATION }, { "ctrlType", "isLegal" }})
            </div>
            <div class="card-body row">
                @Html.Partial("~/Views/Main/UploadControls/FileUploadControl.cshtml", new ViewDataDictionary {
                           { "HeaderText", "Registration proof" }, { "ctrlId", "divLegalRegProf" },
                           { "DocType", KycDocumentType.REGISTRATION_PROOF }, { "ctrlType", "isLegal" }})

                @Html.Partial("~/Views/Main/UploadControls/FileUploadControl.cshtml", new ViewDataDictionary {
                           { "HeaderText", "Shareholder declaration" } , { "ctrlId", "divLegalShareholderDeclr" },
                           { "DocType", KycDocumentType.SHAREHOLDER_DECLARATION }, { "ctrlType", "isLegal" }})
            </div>
        </div>
    </div>
</div>