﻿@using MangoPay.SDK.Core.Enumerations

<div class="form-group row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Natural customer upload documents. One of two is required.
            </div>
            <div class="card-body row">
                 @Html.Partial("~/Views/Main/UploadControls/FileUploadControl.cshtml", new ViewDataDictionary {
                { "HeaderText", "Identity proof (Two sides)" }, { "ctrlId", "divNaturalIdentityProf" },
                { "DocType", KycDocumentType.IDENTITY_PROOF } , { "ctrlType", "isNatural" }})

                @Html.Partial("~/Views/Main/UploadControls/FileUploadControl.cshtml", new ViewDataDictionary {
               { "HeaderText", "Address proof" }, { "ctrlId", "divNaturalAddrProf" },
               { "DocType", KycDocumentType.ADDRESS_PROOF } , { "ctrlType", "isNatural" }})
            </div>
        </div>
    </div>
</div>