﻿<style>
    .alert-bottom {
        position: fixed;
        bottom: 5px;
        left: 25%;
        width: 50%;
    }
</style>

<div class="alert alert-bottom alert-dismissible fade show" role="alert" id="divAlert" style="display:none">
    <div id="divText"></div>
    <button type="button" class="close" aria-label="Close" onclick="hideAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script type="text/javascript">
    function hideAlert() {
        $("#divAlert").hide();
    }
    function showAlert(message, isSuccsess) {
        hideAlert();
        var objToWork = $("#divAlert");

        objToWork.removeClass("alert-success");
        objToWork.removeClass("alert-danger");

        if (isSuccsess) {
            objToWork.addClass("alert-success");
        }
        else {
            objToWork.addClass("alert-danger");
        }

        objToWork.find("#divText").html(message);
        objToWork.show();
    }
</script>

